{% extends "base.html" %}
{% block title %}Live{% endblock %}
{% block content %}


{% if status == 1%}
<div style="margin-left: 20px">
    <h1>Video Streaming</h1>
</div>
<div style="text-align: center">
    <a href="0">
        <button type=button class="btn btn-danger">Off</button>
    </a>
</div>
    <br>
    <div style="text-align: center">
        <img id="bg" src="{{ url_for('video_feed') }}">
    </div>

{% else %}
<div style="margin-left: 20px">
    <h1>Video Streaming</h1>
</div>
<div style="text-align: center">
    <a href="1">
        <button type=button class="btn btn-success">On</button>
    </a>
</div>
{% endif %}

{% endblock %}
